name: Build Apptainer Image

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Apptainer
        uses: eWaterCycle/setup-apptainer@v2
        with:
          apptainer-version: 1.3.6

      - name: Build Apptainer image
        run: sudo apptainer build pixel-perfect-depth.sif pixel-perfect-depth.def

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: pixel-perfect-depth-sif
          path: pixel-perfect-depth.sif
